<app-navbar></app-navbar>
<form ngForm name="signupform" #singupform="ngForm" (ngSubmit)="submit(singupform)">
  <h1><span>SIGN</span> UP</h1>
  <div class="details">
    <label for="fname">First Name</label> <br/>
    <input id="fname" ngModel name="fname" minlength="3" maxlength="14" required #fname="ngModel" type="text" placeholder="Enter your first name"><br/><br/>
    <div class="alert alert-danger" *ngIf="fname.touched && !fname.valid">
      <div *ngIf="fname.hasError('required')">First Name required</div>
      <div *ngIf="fname.hasError('minlength')">Atleast {{minlength}} characters requried</div>
      <div *ngIf="state">First Name Required</div>
    </div>
    <label for="lname">Last Name</label> <br/>
    <input id="lname" ngModel name="lname" minlength="3" maxlength="14" required #lname="ngModel" type="text" placeholder="Enter your last name"><br/><br/>
    <div class="alert alert-danger" *ngIf="lname.touched && !lname.valid">
      <div *ngIf="lname.hasError('required')">Last Name required</div>
      <div *ngIf="lname.hasError('minlength')">Atleast {{minlength}} characters requried</div>
    </div>
    <label for="email">E-mail</label> <br/>
    <input id="email" type="email" ngModel name="email" #email="ngModel" placeholder="Enter your e-mail id"><br/><br/>
    <label for="password">Password</label> <br/>
    <input id="password" type="password" name="password" ngModel minlength="8" #password="ngModel" required placeholder="Enter your password" (change)="confirmpasswords(password)"><br/><br/>
    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
      <div *ngIf="password.hasError('required')">Password required</div>
      <div *ngIf="password.hasError('minlength')">Atleast 8 characters requried</div>
    </div>
    <label for="confirmpassword">Confirm Password</label> <br/>
    <input id="confirmpassword" type="password" ngModel name="confirmpassword" required #confirmpassword="ngModel"  placeholder="Re-enter your password" (change)="confirmpasswordss(confirmpassword)"><br/><br/>
    <div *ngIf="confirmpassword.touched">
      <div class="alert alert-success" *ngIf="state">Password matched</div>
      <div class="alert alert-danger" *ngIf="!state"> Passowrd not matched</div>
    </div>
  </div>
  <button type="submit">SIGN UP</button>
  <!-- <ul>
    <li *ngFor="let data of userdetails">{{data.f_name}}</li>
  </ul> -->
</form>
<br/><br/><br/>
