<app-navbar></app-navbar>
<div class="todo">
  <h1>{{title}}</h1>
  <input type="text" placeholder="Enter the task" ngModel name="taskinput" #taskinput="ngModel" (change)="addtask($event)" id="taskinput"/><br/>
  <button type="button" class="button" (click)="updatelist()">ADD TASK</button>
  <button type="button" class="button" (click)="clearlist()">CLEAR TASK</button>
  <div class="tasks">
    <h3>TASK LIST</h3>
    <p *ngIf="!flag">No Tasks in the List</p>
    <div *ngIf="flag">
      <p *ngFor="let tasks of task">{{tasks}}</p>
    </div>
  </div>
</div>
